<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como Usar | Gerador de Senhas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="../static/images/ab.png" alt="Gerador de Senhas Logo" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a href="index.html" class="nav-link text-white"><i
                                    class="fas fa-home"></i> Início</a></li>
                        <li class="nav-item"><a href="index.html#features" class="nav-link text-white"><i
                                    class="fas fa-list"></i> Recursos</a></li>
                        <li class="nav-item"><a href="como-usar" class="nav-link text-white"><i
                                    class="fas fa-info-circle"></i> Como Usar</a></li>
                        <li class="nav-item"><a href="index.html#contact" class="nav-link text-white"><i
                                    class="fas fa-envelope"></i> Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="py-5 bg-light">
        <div class="container">
            <h1 class="text-center mb-4">Como Usar o Gerador de Senhas</h1>
            <p class="text-center mb-5">Siga estas instruções para gerar senhas seguras e personalizadas facilmente.</p>

            <div class="row mb-5">
                <div class="col-md-6">
                    <h3>Passo 1: Acesse o Gerador de Senhas</h3>
                    <p>Acesse a página principal do gerador de senhas.</p>
                </div>
                <div class="col-md-6">
                    <img src="../static/images/11.jpg" alt="Passo 1" class="img-fluid">
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-6">
                    <img src="../static/images/12.jpg" alt="Passo 2" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h3>Passo 2: Selecione os Parâmetros da Senha</h3>
                    <p>Escolha os critérios para a sua senha, como o comprimento, o uso de caracteres especiais, números
                        e letras maiúsculas/minúsculas.</p>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-6">
                    <h3>Passo 3: Gere a Senha</h3>
                    <p>Clique no botão "Gerar Senha" para criar uma senha de acordo com os parâmetros selecionados.</p>
                </div>
                <div class="col-md-6">
                    <img src="../static/images/13.jpg" alt="Passo 3" class="img-fluid">
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-6">
                    <img src="../static/images/14.jpg" alt="Passo 4" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h3>Passo 4: Copie e Use a Senha</h3>
                    <p>Copie a senha gerada e utilize-a onde necessário. Lembre-se de armazená-la de maneira segura.</p>
                </div>
            </div>

            <div class="text-center mt-5">
                <a href="index.html" class="btn btn-primary btn-lg">Voltar para o Início</a>
            </div>
        </div>
    </section>

    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p>&copy; 2024 Gerador de Senhas. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
